*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,#A0C7D5,#57ABC7);
}

section{
    position: relative;
    width: 95%;
    height: 95vh;
    border-radius: 20px;
    background: #FFFFFF;
}

.Section__Right{
    position: relative;
    width: 220px;
    height: 95vh;
    padding: 0.2rem 0 0 0.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #F6F6F6;
}

.Section__Right ul{
    width: 290px;
}

.Section__Right ul li{
    list-style: none;
    padding-top: 2rem;
    cursor: pointer;
}

.Section__Right--img{
    position: relative;
    left: 1rem;
    width: 30px;
}

.Section__Right ul li span{
    position: relative;
    bottom: 10px;
    font-size: 15px;
    padding-left: 25px;
}

.Section__Right--Name{
    font-weight: 600;
}

.Section__Right--Playlist{
    width: 280px;
}

.Section__Right--hr{
    width: 125px;
    border: 1px solid #E2E2E2;
    margin-top: 40px;
    margin-left: 20px;
}


.Section__Right li:hover{
    width: 213px;
    height: 75px;
    margin-right: 50px;
    background: linear-gradient(to right,#E4E4E4,#ECECEC,#F1F1F1);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.Section__Right--Playlist:hover{
    width: 260px;
}


/* SECTION CENTER */

.Section__Center{
    position: absolute;
    bottom: 15rem;
    left: 15rem;
    width: 768px;
    background: #FFFFFF; 
}
.Section__Center--h1{
    font-size: 20px;
    padding: 3px 0 10px 10px;
}

.Section__Center-Box1{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.Section__Center-Boxcontent{
    position: relative;
    width: 235px;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}

.Section__Center-Boxcontent img{
    width: 60px;
    height: 60px;
}

.Section__Center-Boxcontent span{
    position: absolute;
    top: 25px;
    left: 85px;
}


/* SECTION CENTER DOWN */

.Section__CenterDown{
    position: absolute;
    bottom: 10px;
    left: 15rem;
    width: 768px;
    height: 207px;
}

.Section__CenterDown--h1{
    font-size: 20px;
    padding: 15px 0 15px 18px;
}

.Section__CenterDown-Content{
    width: 468px;
    display: flex;
    align-items: center;
}

.imgcontainer{
    padding: 0 10px;
}

.content p{
    width: 215px;
    font-size: 14px;
}

.span--w{
    font-size: 12px;
}

.content svg{
    position: relative;
    top: 5px;
}

.move img,
.move p,
.move svg,
.span--move{
    position: relative;
    left: 4rem;
}
